

.title_1{text-align: center;
    color: rgb(219, 232, 222);
    margin-top: 200px;
    font-size: 60px;
}
.question{
    color: rgb(163, 91, 218);
}
.description{
    color: bisque;
    animation: fadeIn 3s ease-out;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 5;
      transform: translateY(10px);
    }
  }
  
  
  